.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  font-size: 20px;
  width: 200px;
  height: 50px;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.btn_red {
  background-color: red;
}

.btn_red:hover {
  background-color: darkred;
  transform: translateY(-2px);
}

.btn_green {
  background-color: green;
}

.btn_green:hover {
  background-color: darkgreen;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
}
